/*
 * CSS per Gutenberg
 */

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: auto;
    max-width: 1000%;
}

.alignwide {
    margin-left: calc(25% - 25vw);
    margin-right: calc(25% - 25vw);
    width: auto;
    max-width: 1000%;
}

.alignwide img, .alignfull img {
    display: block;
    margin: 0 auto;
}

p.has-small-font-size, .has-small-font-size {
    font-size: 80% !important;
}

p.has-medium-font-size, .has-medium-font-size {
    font-size: 125% !important;
}

p.has-large-font-size, .has-large-font-size {
    font-size: 150% !important;
}

p.has-huge-font-size, .has-huge-font-size {
    font-size: 200% !important;
}

.wp-block-cover {
    margin-bottom: 1em;
    height: auto !important;
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .wp-block-image.alignfull.size-large {
        margin-left: -53px;
        margin-right: -50%;
    }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
    .wp-block-image.alignfull.size-large {
        margin-left: -76px;
        margin-right: -28%;
    }
}

@media screen and (min-width:1200px) {
    .wp-block-image.alignfull.size-large {
        margin-left: -90px;
        margin-right: -34%;
    }
}

.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
    height: auto;
}

.wp-block-image.size-large img {
    height: 100%;
}
